{% extends 'main.html' %}
{% load static %}
{% block content%}
<section class="Main-Screen">
    <div class="Screen">
        <div class="Screen-Info wow pulse">
            <h2 class="Professional">Профессиональная уборка</h2>
            <h1 class="In_Irk">В Иркутске</h1>
            <div><h3 class="Quote">Роскошь начинается с порядка и чистоты</h3></div>
            <button class="btn1" type="button" id="OpenPopUp1">Записаться</button>
            <a href="#SliderSect"><img class= 'ImgSVG' src="{% static 'img\icons8-картина-144 1.svg' %} " alt="dots icon"></a>      
            <li class="Exam"><a href="#SliderSect" class="ScreenExam">Примеры <br>работ</a></li>
        </div>
    </div>
    <div class='overlay'></div>
    </section>
    <section class="Service-Panel">
        <div class="Panel wow fadeInLeft" data-wow-offset='100'>
            <div class="Panel-Item">
                <li><h2 class="Item-Header">Уборка <br><span>домов</span></h2></li>
                <li><img src="{% static 'img\1.png' %} " alt=""></li>
            </div>
            <div class="Panel-Item">
                <li><h2 class="Item-Header">Химчистка <br><span>мебели ковров</span></h2></li>
                <li><img src="{% static 'img\2.png' %} " alt=""></li>
            </div>
            <div class="Panel-Item">
                <li><h2 class="Item-Header">Мытье <br><span>окон</span></h2></li>
                <li><img src="{% static 'img\3.png' %} " alt=""></li>
            </div>
            <div class="Panel-Item">
                <li><h2 class="Item-Header">Уборка <br><span>офисов</span</h2></li>
                <li><img src="{% static 'img\4.png' %} " alt=""></li>
            </div>
            <div class="Panel-Item">
                <li><h2 class="Item-Header">Мытье <br><span>лоджий</span></h2></li>
                <li><img src="{% static 'img\5.png' %} " alt=""></li>
            </div>
        </div>
    </section>
    
    <section class="Price" id="PriceSect">
        <h1 class = 'Price-Header wow pulse' >Наши <span>цены</span></h1>
        <div class="Price-Elem">
            <div class="Price-Item wow fadeIn" >
                <h2 class="Price-Item-Header">Поддерживающая уборка:</h2>
                <li class="Price-Article">до 40 м² - <span>от 60 ₽/м²</span> <br> до 60 м² - <span>от 55 ₽/м²</span><br> до 100 м² - <span>от 45 ₽/м²</span><br>  до 150 м² - <span>от 50 ₽/м²</span><br> до 200 м² -<span>от 40 ₽/м²</span><br> до 300 м² - <span>от 30 ₽/м²</span></li>
            </div>
            <div class="Price-Item wow fadeIn"data-wow-delay='0.25s'>
                <h2 class="Price-Item-Header">Поддерживающая уборка:</h2>
                <li class="Price-Article">до 40 м² - <span>от 60 ₽/м²</span> <br> до 60 м² - <span>от 55 ₽/м²</span><br> до 100 м² - <span>от 45 ₽/м²</span><br>  до 150 м² - <span>от 50 ₽/м²</span><br> до 200 м² -<span>от 40 ₽/м²</span><br> до 300 м² - <span>от 30 ₽/м²</span></li>
            </div>
            <div class="Price-Item wow fadeIn"data-wow-delay='0.5s'>
                <h2 class="Price-Item-Header">Поддерживающая уборка:</h2>
                <li class="Price-Article">до 40 м² - <span>от 60 ₽/м²</span> <br> до 60 м² - <span>от 55 ₽/м²</span><br> до 100 м² - <span>от 45 ₽/м²</span><br>  до 150 м² - <span>от 50 ₽/м²</span><br> до 200 м² -<span>от 40 ₽/м²</span><br> до 300 м² - <span>от 30 ₽/м²</span></li>
            </div>
            <div class="Price-Item wow fadeIn" data-wow-delay='0.75s'>
                <h2 class="Price-Item-Header">Поддерживающая уборка:</h2>
                <li class="Price-Article">до 40 м² - <span>от 60 ₽/м²</span> <br> до 60 м² - <span>от 55 ₽/м²</span><br> до 100 м² - <span>от 45 ₽/м²</span><br>  до 150 м² - <span>от 50 ₽/м²</span><br> до 200 м² -<span>от 40 ₽/м²</span><br> до 300 м² - <span>от 30 ₽/м²</span></li>
            </div>
            <div class="Price-Item wow fadeIn" data-wow-delay='1s'>
                <h2 class="Price-Item-Header">Поддерживающая уборка:</h2>
                <li class="Price-Article">до 40 м² - <span>от 60 ₽/м²</span> <br> до 60 м² - <span>от 55 ₽/м²</span><br> до 100 м² - <span>от 45 ₽/м²</span><br>  до 150 м² - <span>от 50 ₽/м²</span><br> до 200 м² -<span>от 40 ₽/м²</span><br> до 300 м² - <span>от 30 ₽/м²</span></li>
            </div>
            <div class="Price-Item wow fadeIn"data-wow-delay='1.25s'>
                <h2 class="Price-Item-Header">Поддерживающая уборка:</h2>
                <li class="Price-Article">до 40 м² - <span>от 60 ₽/м²</span> <br> до 60 м² - <span>от 55 ₽/м²</span><br> до 100 м² - <span>от 45 ₽/м²</span><br>  до 150 м² - <span>от 50 ₽/м²</span><br> до 200 м² -<span>от 40 ₽/м²</span><br> до 300 м² - <span>от 30 ₽/м²</span></li>
            </div>
        </div>
    </section>
    
    <section class="WhyMeBack">
        <div class="WhyMe">     
            <h1 class="WhyMeHeader wow fadeIn">Почему именно мы?</h1>  
            <div class="WhyMeScreen">
                <div class="WhyMeItem wow pulse" data-wow-delay='0.25s' data-wow-offset='150'>
                    <li><img src="{% static 'img\free-icon-experience-2303934 1.svg' %} " alt=""></li>
                    <h2 class="TitleWhy">Опыт работы</h2>
                    <li class="ArticleWhy"> Более 8 лет на рынке!</li>
                </div>
                <div class="WhyMeItem wow pulse"data-wow-delay='0.5s' data-wow-offset='150'>
                    <li><img src="{% static 'img\free-icon-employees-554846 1.svg' %} " alt=""></li>
                    <h2 class="TitleWhy">Сотрудники</h2>
                    <li class="ArticleWhy">Специально обученные сотрудники с большим стажем работы</li>
                </div>
                <div class="WhyMeItem wow pulse" data-wow-delay='0.75s' data-wow-offset='150'>
                    <li><img src="{% static 'img\free-icon-vacuum-cleaner-4599270 1.svg' %} " alt=""></li>
                    <h2 class="TitleWhy">Оборудование</h2>
                    <li class="ArticleWhy">Мы работаем с современным оборудованием и используем профессиональную химию</li>
                </div>
                <div class="WhyMeItem wow pulse" data-wow-delay='1s' data-wow-offset='150'>
                    <li><img src="{% static 'img\free-icon-time-1116828 1.svg' %} " alt=""></li>
                    <h2 class="TitleWhy">Время</h2>
                    <li class="ArticleWhy">Приедем тогда, когда Вам будет удобно</li>
                </div>

            </div>
        </div>
    </section>
    <section class="Slider" id="SliderSect">
        <div class="SliderMain">
            <figure class="SliderHeader ">
                <h1 class="HeaderText">Наши работы</h1>
            </figure>
            <div class="SliderScreen wow pulse" data-wow-offset='100'>
                <div class="FirstBlock">
                    <div class="SliderItem">
                        <li><img src="{% static 'img\2bef.png' %} " alt=""></li>
                    </div>
                    <div class="SliderItem">
                        <li class="ImgRight"><img src="{% static 'img\2aft.png' %} " alt=""></li>
                    </div>
                </div>
                <div class="SecondBlock">
                    <div class="SliderItem">
                        <li><img src="{% static 'img\1bef.png' %} " alt=""></li>
                    </div>
                    <div class="SliderItem">
                        <li class="ImgLeft"><img src="{% static 'img\1aft.png' %} " alt=""></li>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="FeedBack">
        <div class="FeedBackInfo">
            <img src="{% static 'img\free-icon-phone-4341697 1.svg' %} " alt="">
            <div class="FeedBackSect">
                <div class="FeedBackMenu wow bounceInUp" data-wow-offset='200'>
                    <h2><span>Заказать уборку</span><br> у нас</h2>
                    {% if succes is none%}
                    <form id='FeedBackForm'>
                        {% csrf_token %}
                        {% if form.number.errors %}
                            <div class='alert alert-damage'>
                                <strong>{{ forms.number.errors}}</strong>
                            </div>
                        {% endif %}
                        <div class="FormPhone">
                            <label>Телефон</label><br>
                            {{ form.number }}
                        </div>
                        {% if form.name.errors %}
                            <div class='alert alert-damage'>
                                <strong>{{ forms.name.errors}}</strong>
                            </div>
                        {% endif %}
                        <div class="FormName">
                            <label>Ваше имя</label><br>
                            {{ form.name }}
                        </div>
                        <button class="btn2" type="submit" name='FeedBackButton' id='sendindex'>Заказать</button>
                    </form>
                    {% endif%}
                    <div class='alert alert-damage' id='alert-damage-ajax'>Спасибо за обращение!</div>
                </div> 
            </div>
        </div>
    </section>

<script src="https://unpkg.com/imask"></script>
<script type="text/javascript">
    var element = document.getElementById('id_number');
    var maskOptions = {
        mask: '+{7} (000) 000-00-00',
        lazy: false,
        placeholder: '#'
    } 
    var mask = new IMask(element, maskOptions);
    $("#FeedBackForm").submit(function (e) { 
        e.preventDefault();
        $('#sendindex').attr('disabled', true);
        $('#sendindex').empty();
        $('#sendindex').append("<div class='circle'></div>");
            var form_data_feed = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "/indexform", 
                data: form_data_feed,
                success: function () {
                {% comment %} alert('Успех') {% endcomment %}
                $('#FeedBackForm').hide(500);
                $('#alert-damage-ajax').removeClass('alert alert-damage').addClass('alert alert-damage active');
                }
            });
        });
</script>
{% endblock %}